@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #fdbd1a !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/sass";
@import "../node_modules/bulma/sass/utilities/mixins";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";
@import "promo-page";
@import "category";

.gh-sponsor {
  color: #ea4aaa;
}

.btn {
  border: 1px;
  padding: 10px;
}

.btn-next-question {
  color: White;
  background-color: rgba(4, 96, 201, 1);
  border-radius: 5px;
}

.correct {
  color: green;
}

.bg-correct {
  background-color: rgb(80, 187, 80);

}

.incorrect {
  color: red;
}

.bg-incorrect {
  background-color: rgb(228, 186, 186);
}

.hidden {
  display: none;
}

.question-row {
  margin-bottom: 10px;
}

.answer {
  margin-right: 10px;
}

.quiz {
  margin-top: 30px;

}

.summary-row {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
}