---
layout: default
---
<div class="content">
    {{ content }}

    <div id="quiz"></div>
    <div class="question-container">
        <div id="question"></div>
        <img />
    </div>

    <input id="a" type="checkbox" class="answer" />
    <label id="a_text"></label>
    <br>
    <input id="b" type="checkbox" class="answer" />
    <label id="b_text"></label>
    <br>
    <input id="c" type="checkbox" class="answer" />
    <label id="c_text"></label>
    <br>
    <input id="d" type="checkbox" class="answer" />
    <label id="d_text"></label>
    <br><br>
    <button id="submit">Submit</button>
</div>

<script>


        const quiz = document.getElementById('quiz')
        const answerEls = document.querySelectorAll('.answer')
        const questionEl = document.getElementById('question')
        const a_text = document.getElementById('a_text')
        const b_text = document.getElementById('b_text')
        const c_text = document.getElementById('c_text')
        const d_text = document.getElementById('d_text')
        const submitBtn = document.getElementById('submit')
        const questImg = document.querySelector('.question-container > img')
        var quizData = []
        


        init()


        console.log("quizData", quizData)
        console.log("qCount",{{ page.quizQCount }})
        if ({{ page.quizQCount }} > quizData.length) {
            console.log("Not enough questions in quiz")
            
        }
        
        
        let currentQuiz = 0
        let score = 0




        loadQuiz()

        async function init() {
            {% if page.quizdata %}
            quizData =  {{ page.quizdata }} ;
        {% endif %}
        {% if page.quizfile %}

           await fetch('../{{page.quizfile}}.json')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json(); // Parse the JSON data
                })
                .then(data => {
                    // 'data' now contains the parsed JSON.
                    // If the root of your JSON is an array, 'data' is already an array.
                    // If it's an object containing an array, you'll need to access it.
                    quizData = data; // Assuming your JSON file directly contains an array
                    console.log("loaded", quizData);
                })
                .catch(error => {
                    console.error('Error fetching or parsing JSON:', error);
                });
        {% endif %}
        }
        function loadQuiz() {

            deselectAnswers()

            const currentQuizData = quizData[currentQuiz]
            console.log("currentQuizData",currentQuizData)
            questionEl.innerHTML = currentQuizData.question
            a_text.innerHTML = currentQuizData.a
            b_text.innerHTML = currentQuizData.b
            c_text.innerHTML = currentQuizData.c
            d_text.innerHTML = currentQuizData.d
            questImg.src = currentQuizData.img
        }

        function deselectAnswers() {
            answerEls.forEach(answerEl => answerEl.checked = false)
        }

        function getSelected() {
            let answer
            answerEls.forEach(answerEl => {
                if (answerEl.checked) {
                    answer = answerEl.id
                }
            })
            return answer
        }


        submitBtn.addEventListener('click', () => {

            const answer = getSelected()

            if (answer) {
                if (answer === quizData[currentQuiz].correct) {
                    score++
                }
                currentQuiz++;

                if (currentQuiz < quizData.length) {
                    loadQuiz()
                } else {
                    quiz.innerHTML = `
           <h2>You answered ${score}/${quizData.length} questions correctly</h2>
          <img src="https://placekitten.com/200/200">
           <button onclick="location.reload()">Reload</button>
           `
                }
            }
        })

        function generateNRandomIntegers(n, min, max) {
                const randomIntegers = [];

                // Ensure min and max are integers and min <= max
                min = Math.ceil(min);
                max = Math.floor(max);
                if (min > max) {
                    [min, max] = [max, min]; // Swap if min is greater than max
                }

                for (let i = 0; i < n; i++) {
                    // Generate a random integer between min (inclusive) and max (inclusive)
                    const randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;
                    randomIntegers.push(randomNumber);
                }

            return randomIntegers;
        }          
</script>
