---
layout: default
---
<div class="content">
    {{ content }}

    <div id="quiz">
        <div class="question-container hidden">
            <h3>Question: <span id="questionNum"></span> of <span id="totalQuestions"></span></h3>
            <div id="question"></div>
            <img />
        </div>
        <div class="answer-container hiddden">
            <div class="row">
                <input id="a" type="checkbox" class="answer" />
                <label id="a_text"></label>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <input id="b" type="checkbox" class="answer" />
                <label id="b_text"></label>
            <div>
            <div class="row">
                <input id="c" type="checkbox" class="answer" />
                <label id="c_text"></label>
            </div>
            <div class="row">
                <input id="d" type="checkbox" class="answer" />
                <label id="d_text"></label>
            </div>
            </div>
            <button id="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
        </div>
        <div class="summary-container">
            <h3>Quiz Complete</h3>
            <p>You answered <span id="completeCorrect"></span> out of <span id=completeTotal></span> questions correctly.</p>
            <div class="questionSummaryWrapper">
                <div class="row" style="border-bottom: 1px; padding-bottom: 20px;" >
                    <h4>Question: 1</h4>
                    <div >An amateur radio operator must produce their evidence of qualification if requested to do so by:</div>
                    <div class="bold"><i class="fa-regular fa-circle-check correct" style="padding-right: 10px;"></i>a Wireless Institute of Australia inspector</div>
                    <div><i class="fa-regular fa-circle-xmark incorrect" style="padding-right: 10px;"></i>a Wireless Institute of Australia assesso</div>
                    <div><i class="fa-regular fa-circle" style="padding-right: 10px;"></i>an ACMA inspector</div>
                    <div><i class="fa-regular fa-circle" style="padding-right: 10px;"></i>a Federal or State police officer</div>
                    <h4 style="padding-top: 10px;">Incorrect</h4>
                    <p>Only ACMA inspectors can legally require you to produce evidence of your qualifications to operate an Amateur radio station.</p>
                </div>
                <div class="row" style="border-bottom: 1px;>
                    <h4>Question: 1</h4>
                    <div >An amateur radio operator must produce their evidence of qualification if requested to do so by:</div>
                    <div class="bold"><i class="fa-regular fa-circle-check correct" style="padding-right: 10px;"></i>a Wireless Institute of Australia inspector</div>
                    <div><i class="fa-regular fa-circle-xmark incorrect" style="padding-right: 10px;"></i>a Wireless Institute of Australia assesso</div>
                    <div><i class="fa-regular fa-circle" style="padding-right: 10px;"></i>an ACMA inspector</div>
                    <div><i class="fa-regular fa-circle" style="padding-right: 10px;"></i>a Federal or State police officer</div>
                    <h4 style="padding-top: 10px;">Incorrect</h4>
                    <p>Only ACMA inspectors can legally require you to produce evidence of your qualifications to operate an Amateur radio station.</p>
                </div>
            </div>
            
        </div>
</div>

<script>


        const quiz = document.getElementById('quiz')
        const answerEls = document.querySelectorAll('.answer')
        const questionEl = document.getElementById('question')
        const a_text = document.getElementById('a_text')
        const b_text = document.getElementById('b_text')
        const c_text = document.getElementById('c_text')
        const d_text = document.getElementById('d_text')
        const submitBtn = document.getElementById('submit')
        const questImg = document.querySelector('.question-container > img')
        var quizData = []
        var questionNumbers = []


        init()
        
        let currentQuiz = 0
        let score = 0


        async function init() {
            {% if page.quizdata %}
            quizData =  {{ page.quizdata }} ;
        {% endif %}
        {% if page.quizfile %}

           await fetch('../{{page.quizfile}}.json')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json(); // Parse the JSON data
                })
                .then(data => {
                    // 'data' now contains the parsed JSON.
                    // If the root of your JSON is an array, 'data' is already an array.
                    // If it's an object containing an array, you'll need to access it.
                    quizData = data; // Assuming your JSON file directly contains an array
                    console.log("loaded", quizData);
                })
                .catch(error => {
                    console.error('Error fetching or parsing JSON:', error);
                });
        {% endif %}

        console.log("quizData", quizData)
        console.log("qCount",{{ page.quizQCount }})
        if ({{ page.quizQCount }} > quizData.length) {
            console.log("Not enough questions in quiz")
            
        } else {

            questionNumbers = generateNRandomIntegers({{ page.quizQCount }}, 0,quizData.length-1 )
            console.log("questionNumbers",questionNumbers)
            loadQuiz()

        }


        
        }
        function loadQuiz() {

            deselectAnswers()
            document.getElementById("totalQuestions").innerHTML = {{ page.quizQCount }}
            document.getElementById("questionNum").innerHTML = currentQuiz + 1
            const currentQuizData = quizData[questionNumbers[currentQuiz]]
            console.log("currentQuizData",currentQuizData)
            questionEl.innerHTML = currentQuizData.question
            a_text.innerHTML = currentQuizData.a
            b_text.innerHTML = currentQuizData.b
            c_text.innerHTML = currentQuizData.c
            d_text.innerHTML = currentQuizData.d
            questImg.src = currentQuizData.img
        }

        function deselectAnswers() {
            answerEls.forEach(answerEl => answerEl.checked = false)
        }

        function getSelected() {
            let answer
            answerEls.forEach(answerEl => {
                if (answerEl.checked) {
                    answer = answerEl.id
                }
            })
            return answer
        }


        submitBtn.addEventListener('click', () => {

            const answer = getSelected()

            if (answer) {
                if (answer === quizData[currentQuiz].correct) {
                    score++
                }
                currentQuiz++;

                if (currentQuiz < questionNumbers.length) {
                    loadQuiz()
                } else {
                    quiz.innerHTML = `
           <h2>You answered ${score}/${quizData.length} questions correctly</h2>
          <img src="https://placekitten.com/200/200">
           <button onclick="location.reload()">Reload</button>
           `
                }
            }
        })

        function generateNRandomIntegers(n, min, max) {
                const randomIntegers = [];

                // Ensure min and max are integers and min <= max
                min = Math.ceil(min);
                max = Math.floor(max);
                if (min > max) {
                    [min, max] = [max, min]; // Swap if min is greater than max
                }

                for (let i = 0; i < n; i++) {
                    // Generate a random integer between min (inclusive) and max (inclusive)
                    
                    var foundNotUnique = true

                    while (foundNotUnique) {
                        const randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;
                        if (!randomIntegers.includes(randomNumber)) {
                            randomIntegers.push(randomNumber);
                            foundNotUnique = false
                        }
                    } 
                    
                    
                }

            return randomIntegers;
        }          
</script>
