---
layout: default
---
<div class="content">
    {{ content }}

    <div id="quiz" class="quiz">
        <div class="question-container" id="question-container">
            <h3>Question: <span id="questionNum"></span> of <span id="totalQuestions"></span></h3>
            <div id="question"></div>
            <img />
        </div>
        <div class="answer-container" id="answer-container">
            <div class="question-row" id="questionRow1" style="display: flex;">
                <input id="a" type="checkbox" class="answer" />
                <label id="a_text"></label>
            </div>
            <div class="question-row" id="questionRow2" style="display: flex;">
                <input id="b" type="checkbox" class="answer" />
                <label id="b_text"></label>
            </div>
            <div class="question-row"" id="questionRow3" style="display: flex;">
                <input id="c" type="checkbox" class="answer" />
                <label id="c_text"></label>
            </div>
            <div class="question-row"" id="questionRow4" style="display: flex;">
                <input id="d" type="checkbox" class="answer" />
                <label id="d_text"></label>
            </div>
            <button id="submit" class="btn btn-next-question" style="margin-top: 20px;">Next Question</button>
        </div>

        <div class="summary-container hidden" id="summary-container">
            <h3>Quiz Complete</h3>
            <p>You answered <span id="completeCorrect"></span> out of <span id=completeTotal></span> questions correctly.</p>
            <div id="questionSummaryWrapper"></div>
        </div>

        <div id="returnURLWrapper" class="hidden" style="margin-top: 30px;">
            <a id="returnLink1" href="" class="btn">Return to previous page</a>
        </div>

    </div>
</div>

<script>


        const quiz = document.getElementById('quiz')
        const answerEls = document.querySelectorAll('.answer')
        const questionEl = document.getElementById('question')
        const a_text = document.getElementById('a_text')
        const b_text = document.getElementById('b_text')
        const c_text = document.getElementById('c_text')
        const d_text = document.getElementById('d_text')
        const submitBtn = document.getElementById('submit')
        const questImg = document.querySelector('.question-container > img')
        var quizData = []
        var questionNumbers = []
        var questionsAskedInOrder = []

        init()

        let currentQuiz = 0
        let score = 0


        async function init() {
            {% if page.quizdata %}
            quizData =  {{ page.quizdata }} ;
        {% endif %}
        {% if page.quizfile %}

           await fetch('../{{page.quizfile}}.json')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json(); // Parse the JSON data
                })
                .then(data => {
                    // 'data' now contains the parsed JSON.
                    // If the root of your JSON is an array, 'data' is already an array.
                    // If it's an object containing an array, you'll need to access it.
                    quizData = data; // Assuming your JSON file directly contains an array
                    console.log("loaded", quizData);
                })
                .catch(error => {
                    console.error('Error fetching or parsing JSON:', error);
                });
        {% endif %}

        console.log("quizData", quizData)
        console.log("qCount",{{ page.quizQCount }})
        if ({{ page.quizQCount }} > quizData.length) {
            console.log("Not enough questions in quiz")

        } else {

            questionNumbers = generateNRandomIntegers({{ page.quizQCount }}, 0,quizData.length-1 )
            console.log("questionNumbers",questionNumbers)
            loadQuiz()

        }

        {% if page.quizreturnurl %}
            document.getElementById("returnURLWrapper").classList.remove("hidden")
            document.getElementById("returnLink1").setAttribute("href","{{page.quizreturnurl}}")
        {% endif %}


        }
        function loadQuiz() {

            deselectAnswers()
            let rows = document.getElementsByClassName("question-row")
            for (row of rows) {
                row.classList.add("hidden")
            }


            document.getElementById("totalQuestions").innerHTML = {{ page.quizQCount }}
            document.getElementById("questionNum").innerHTML = currentQuiz + 1
            const currentQuizData = quizData[questionNumbers[currentQuiz]]
            let optionCount = 0
            if (currentQuizData.a && currentQuizData.a.length > 0) { optionCount += 1 }
            if (currentQuizData.b && currentQuizData.b.length > 0) { optionCount += 1 }
            if (currentQuizData.c && currentQuizData.c.length > 0) { optionCount += 1 }
            if (currentQuizData.d && currentQuizData.d.length > 0) { optionCount += 1 }
            let optionOrder = generateNRandomIntegers(optionCount, 0,optionCount-1 )
            console.log("optionOrder", optionOrder)
            questionEl.innerHTML = currentQuizData.question
            answerCount = 0
            for (oo of optionOrder) {
                let optiontext = ""
                let optionAnswerID = ""
                if (oo == 0) {
                    optiontext =  currentQuizData.a
                    optionAnswerID = "a"
                } else if (oo == 1) {
                    optiontext =  currentQuizData.b
                    optionAnswerID = "b"
                } else if (oo == 2) {
                    optiontext =  currentQuizData.c
                    optionAnswerID = "c"
                } else if( oo == 3) {
                    optiontext =  currentQuizData.d
                    optionAnswerID = "d"
                }
                if ( 1 <= optionCount && answerCount == 0) {
                    a_text.innerHTML = optiontext
                    document.getElementById("questionRow1").classList.remove("hidden")
                    document.getElementById("questionRow1").getElementsByTagName("input")[0].setAttribute("id",optionAnswerID)
                }
                if (2 <= optionCount && answerCount == 1) {
                    b_text.innerHTML = optiontext
                    document.getElementById("questionRow2").classList.remove("hidden")
                     document.getElementById("questionRow2").getElementsByTagName("input")[0].setAttribute("id",optionAnswerID)

                }
                if (3 <= optionCount && answerCount == 2) {
                    c_text.innerHTML = optiontext
                    document.getElementById("questionRow3").classList.remove("hidden")
                     document.getElementById("questionRow3").getElementsByTagName("input")[0].setAttribute("id",optionAnswerID)
                }
                if (4 <= optionCount && answerCount == 3) {
                    d_text.innerHTML = optiontext
                    document.getElementById("questionRow4").classList.remove("hidden")
                     document.getElementById("questionRow4").getElementsByTagName("input")[0].setAttribute("id",optionAnswerID)
                }
                answerCount += 1
            }


            questImg.src = currentQuizData.img
        }

        function deselectAnswers() {
            answerEls.forEach(answerEl => answerEl.checked = false)
        }

        function getSelected() {
            let answer
            answerEls.forEach(answerEl => {
                if (answerEl.checked) {
                    answer = answerEl.id
                }
            })
            return answer
        }


        submitBtn.addEventListener('click', () => {

            const answer = getSelected()

            if (answer) {
                if (answer === quizData[currentQuiz].correct) {
                    score++
                }
                quizData[questionNumbers[currentQuiz]].answer = answer
                questionsAskedInOrder.push(quizData[questionNumbers[currentQuiz]])
                console.log("question answered", quizData[questionNumbers[currentQuiz]])
                console.log("question processed",questionsAskedInOrder )
                currentQuiz++;

                if (currentQuiz < questionNumbers.length) {
                    loadQuiz()
                } else {
                    console.log("questionsAskedInOrder",questionsAskedInOrder)
                   displaySummary()
                }
            }
        })

        function displaySummary() {
            document.getElementById("question-container").classList.add("hidden")
            document.getElementById("answer-container").classList.add("hidden")
             document.getElementById("summary-container").classList.remove("hidden")

            let qlist = document.getElementById("questionSummaryWrapper")
            let qCount = 1
            let correctAnswerText = ""
            let yourAnswerText = ""
            let htmlText = ""
            let correctCount = 0
            for (q of questionsAskedInOrder) {
                let qEvalClass = ""
                let isCorrect = false
                switch(q.correct) {
                case "a":
                    correctAnswerText = q.a
                    break
                case "b":
                    correctAnswerText = q.b
                    break
                case "c":
                    correctAnswerText = q.c
                    break
                case "d":
                    correctAnswerText = q.d
                    break
                }
                switch(q.answer) {
                case "a":
                    yourAnswerText = q.a
                    break
                case "b":
                    yourAnswerText = q.b
                    break
                case "c":
                    yourAnswerText = q.c
                    break
                case "d":
                    yourAnswerText = q.d
                    break
                }
                if (q.answer === q.correct) {
                  qEvalClass = "correct"
                  isCorrect = true
                  correctCount += 1

                } else {
                    qEvalClass = "incorrect"
                    isCorrect = false
                }
                htmlText += '<div class="summary-row ' + (!isCorrect ? 'bg-incorrect' : '') + '" "><h4>Question: ' + qCount + '<i style="margin-left: 10px;" class="fa-regular fa-circle-' + (isCorrect ? 'check correct' : 'xmark incorrect') + '"></i> </h4><div>' + q.question + '</div>'
                if (isCorrect) {
                     htmlText += '<div style="padding-left: 10px;">- ' + correctAnswerText + '</div>'
                } else {
                    htmlText += '<div style="margin-top: 10px; padding-left: 10px;">You answered: "'+ yourAnswerText +'" but the correct answer was "<b>'+ correctAnswerText +'</b>"</div>'
                    if (q.answerSummary.length > 0){
                        htmlText += '<div style="margin-top: 10px;"><b>Explanation: </b><br>'+ q.answerSummary + '</div>'
                    }
                }
                htmlText += '</div>'
                correctAnswerText = ""
                qCount += 1
            }
            qlist.innerHTML = htmlText
            document.getElementById("completeCorrect").innerText = correctCount
            document.getElementById("completeTotal").innerText = questionsAskedInOrder.length
        }
        function generateNRandomIntegers(n, min, max) {
                const randomIntegers = [];

                // Ensure min and max are integers and min <= max
                min = Math.ceil(min);
                max = Math.floor(max);
                if (min > max) {
                    [min, max] = [max, min]; // Swap if min is greater than max
                }

                for (let i = 0; i < n; i++) {
                    // Generate a random integer between min (inclusive) and max (inclusive)

                    var foundNotUnique = true

                    while (foundNotUnique) {
                        const randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;
                        if (!randomIntegers.includes(randomNumber)) {
                            randomIntegers.push(randomNumber);
                            foundNotUnique = false
                        }
                    }


                }

            return randomIntegers;
        }
</script>
